.git
.gitignore
.venv
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info
dist
build
node_modules
npm-debug.log*
frontend/dist
.idea
.vscode
.env
.env.example
Dockerfile
docker-compose.yml
.dockerignore
README.md
*.sh
**/__tests__
**/tests