DATABASE_URL="postgresql://user:password@host:5432/database"
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=database
OLLAMA_MODEL="qwen2.5:7b-instruct-q4_K_M" #or any other
EVAL_MODEL="mistral:7b" #or any other but i reccomend this one 
REDIS_HOST="localhost"
REDIS_PORT=6379
MCP_HOST="127.0.0.1"