@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bg-color: #22223B;
    --font: "Ubuntu";
    --text-color: #f7f9f9;
    --button-color: #f80257;
    --hover-button-color: #e00552;
    --hover-button-color2: #cecece;
    --input-color: #3f4045;
    --input-focus-color: #55575d;   
}

h1 {
    font-weight: 425;
}

::-webkit-scrollbar {
    display: none;
}

.leftAlign,
.rightAlign {
    height: 100vh;
}


.container {
    font-family: var(--font);
    color: var(--text-color);
    display: flex;
}

.leftAlign {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20dvw;
    border-right: var(--input-color) 1px solid;
}

.rightAlign {
    width: 80dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    margin-left: 10px;
    margin-top: 10px;
}

.anchorWelcome {
    margin-top: 10%;
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.hAlign {
    display: flex;
    align-items: center;
}

.inputSection {
    justify-content: center;
    margin-bottom: 20px;
}

.input{
    padding: 10px;
    width: 70dvw;
    background: none;
    border: none;
    color: var(--text-color);
    background-color: var(--input-color);
    font-family: var(--font);
    border-radius: 10px;
    transition: all 0.2s ease;
}

.input:focus {
    background-color: var(--input-focus-color);
    outline: none;
}

.addGoalButton {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 10px;
    font-family: var(--font);   
}


.goalListContainer,
.goalInputContainer {
    margin-top: auto;
}

.goalContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: var(--input-color) 1px solid;
}

.goal {
    font-weight: 400;
}

.anchorIcon {
    margin-right: 3px;
}

.runAgentsButton {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 10px;
    font-family: var(--font); 
}

.runAgentsButton:hover,
.addGoalButton:hover {
    background-color: var(--hover-button-color2);
}

.deleteButton {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 10px;
    font-family: var(--font); 
}

.deleteButton:hover {
    background-color: var(--hover-button-color);
}
