@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bg-color: #22223B;
    --font: "Ubuntu";
    --text-color: #f7f9f9;
    --button-color: #59b065;
    --input-color: #3f4045;
    --input-focus-color: #55575d;   
}

h1 {
    font-weight: 425;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    font-family: var(--font);
    color: var(--text-color);
}

.input{
    padding: 10px;
    width: 300px;
    background: none;
    border: none;
    color: var(--text-color);
    background-color: var(--input-color);
    font-family: var(--font);
    border-radius: 10px;
    transition: all 0.2s ease;
}

.input:focus {
    background-color: var(--input-focus-color);
    outline: none;
}

.addGoalButton {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 10px;
    font-family: var(--font);   
}

.goalContainer {
    display: flex;
    align-items: center;
}

.goal {
    font-weight: 425;
}

