.container {
    padding: 20px;
}

.input{
    padding: 10px;
    width: 300px;
}

.addGoalButton {
    padding: 10px;
    margin-left: 10px;   
}

.goalContainer {
    display: flex;
    align-items: center;
}